body{
	background-image:url("Diamonds.jpg");
	background-repeat:no-repeat;
	background-size:100%;
}
#background{
	position:fixed;
	height:100%;
}
header{
  	color:black;
  	font-size: 40px;
  	font-family:"Arial Black";
  	right:0;
  	left:0;
  	border:5px solid black;
}
p{
	font-weight:bold;
	left:15;
}
img{
	display:inline;
	width:250px;
}
