body{
	background:#196D8A;
	
}
header{
  	color:black;
  	font-size: 40px;
  	font-family:"Arial Black";
  	right:0;
  	left:0;
  	border:5px solid black;
}
p{
	font-weight:bold;
	left:15;
	font-size:60px;
}
img{
	display:inline;
	width:250px;
}
section{
	border:10px solid black;
	width:50%;
}
li{
	left:60;
}
